<div class="jumbotron">
  <h1>Cocktail Gilou !</h1>
  <p><%= @cocktails.size %> Recettes de Cocktails et Boissons disponibles, à déguster sans modération ;-)</p>
  <p><a class="btn btn-primary btn-lg" role="button" href="<%=cocktails_path%>">Voir touts les Cocktails</a></p>
</div>